@import "tailwindcss";

@font-face {
  font-family: 'Trench';
  src: url('/fonts/TrenchThin-16R0.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTOctosquares';
  src: url('/fonts/TTOctosquares-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --animate-heartbeat: heartbeat 1s ease-in-out 1;

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }

    33% {
      transform: scale(1.10);
    }

    66% {
      transform: scale(0.90);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-rotational-wave: rotational-wave 2s ease-in-out 1 both;

  @keyframes rotational-wave {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(15deg);
    }

    25% {
      transform: rotate(45deg);
    }

    50% {
      transform: rotate(-300deg);
    }

    75% {
      transform: rotate(15deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

:root {
  font-family: 'TTOctosquares', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
